.header {
    width: 100%;
    height: 4rem;
    position: absolute;
    text-align: right;
}

.logo {
    width: 15rem;
    height: 3rem;
}

.profile-items {
    padding-top: 1rem;
    padding-right: 2rem;
    position: relative;
    float: right;
}

.profile-items > i {
    font-size: 36px;
    color: #0D1973;
}