<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
  <div class="title-container">
    <h1 class="style-font">What makes you tick?</h1>
  </div>
  <div class="subheading-container">
    <p>
      Help us find something interesting. For you.
    </p>
  </div>
</div>

<div class="interest-buttons-container">
  <mat-button-toggle value="">
      &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Music&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-button-toggle>
  <mat-button-toggle value="">
      &nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; Culinary&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-button-toggle>
  <mat-button-toggle value="">
      &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  Sports&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-button-toggle>
  <mat-button-toggle value="">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Crafting&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-button-toggle>
  <mat-button-toggle value="">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adventure&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-button-toggle>
  <mat-button-toggle value="">
      &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Taking it easy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-button-toggle>
  <mat-button-toggle value="">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Art&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-button-toggle>
  <mat-button-toggle value="">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Authenticity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-button-toggle>
  <mat-button-toggle value="">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Culture&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-button-toggle>
  <mat-button-toggle value="">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;People&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-button-toggle>
  <mat-button-toggle value="">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Partying&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-button-toggle>
</div>

<div class="next-button-container">
  <button mat-raised-button class="next-button" color="primary" (click)="continueClick()">
    Continue
  </button>
</div>
